# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [5]:
number = 6

print(number)
print(type(number))

6
<class 'int'>

##### Assinging float

In [8]:
number_float = 2.3

print(number_float)
print(type(number_float))

new_float = 6.
print(new_float)
print(type(new_float))

2.3
<class 'float'>
6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [13]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)
print(type(result))

# short-hand version
result += 2 #result = result + 2
print(result)

7.4
<class 'float'>
9.4

##### Subtraction

In [15]:
result_diff = num2 - num1
print(result_diff)

# short hand version
result_diff -= 1 
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [17]:
result_prod = num1 * num2
print(result_prod)

#short hand
result_prod *= 2
print(result_prod)

10.8
21.6

##### Division

In [21]:
result_div = num2 / num1
print(result_div)

#short hand
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [23]:
result_floor = num2 // num1
print(result_floor)

#short hand
result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [25]:
result_mod = num2 % num1
print(result_mod)

#short hand
result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

### String Input-Output

##### String Assignment

In [26]:
name = "Sean"
print(name)
print(type(name))

Sean
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [29]:
print("This is my first name, " + name)

This is my first name, Sean

##### String Concatenation

In [31]:
first_name = "Fred"
last_name = "Flintston"

full_name = first_name + " " + last_name # add quots with space
print(full_name)

Fred Flintston

##### Type Conversion

In [34]:
number = 32
print(type(number))

change_type_num = str(number)
print(type(change_type_num))

test = "Sean" + change_type_num
print(test)

<class 'int'>
<class 'str'>
Sean32

##### input()

In [ ]:
# input will always return a string -- ALWAYS

name = input("What is your name? ")

print(name)

##### format()

In [37]:
age = input("What is your age? ")
name = input("What is your name? ")

result_string = "Your name is {} and you are {} years old.".format(name, age)
print(result_string)

result_again = f"Hey {name}, {age} is a great time in life!"
print(result_again)

What is your age? 36
What is your name? Sean
Your name is Sean and you are 36 years old.
Hey Sean, 36 is a great time in life!

##### Old Way (python 2)

In [39]:
result_string2 = "%s, you are %s and you look great for your age" %(name,age)
print(result_string2)

Sean, you are 36 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [41]:
#OUTPUT:  The car's color is blue, the year is 2021, make is Dodge, and model is Caravan

color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is you car? ")
results = f"My car is a {color}, {year} {make} {model}."

print(results)

What color is your car? red
What year is your car? 2019
What make is your car? Alfa Romeo
What model is you car? Giulia
My car is a red, 2019 Alfa Romeo Giulia.

### If Statements

In [46]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

#if [conditional]:
#     line(s) to run if True

if num1 + 5 == num2:
    print("This condition is True")

print("End of cell")

This condition is True
End of cell

##### 'is' keyword

In [55]:
# use the "is" keyword when checking for the same/similar object, NOT same value

list1 = []
list2 = []
list3 = list1

if list1 is list2:
    print("This is True")
    
print(id(list1))
print(id(list2))
print(id(list3))

2066004849408
2066009423296
2066004849408

##### 'in' keyword

In [57]:
# Check if a character is in a string #case sensitive
char_name = "Max Payne"

if "i" in char_name:
    print("The character who lost everything...")

##### 'not in' keyword'

In [58]:
sega_char = "Sonic the Hedgehog"

if "a" not in sega_char:
    print("There is no 'a' in this character")

There is no 'a' in this character

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [64]:
# OUTPUT: True -- if p is found - False -- if p is NOT found

phone = input("What kind of phone do you have? ")
output_string = f"You have the {phone} phone"
print(output_string)

if 'p' in phone:
    print("True")

if 'p' not in phone:
    print("False")

What kind of phone do you have? iPhone
You have the iPhone phone
False

## Using 'and'/'or' with If Statements

In [68]:
num11 = 15
num12 = 3
num13 = 10
num14 = 3

# if statement with "and" keyword
if num11 / 5 == num12 and num13 - 7 == num14:
    print("True and True")

# if statement with "or" keyword
if num11 / 5 == num12 or num13 + 7 == num14:
    print("True and False")

True and True
True and False

### Elif Statements

In [79]:
some_num = 0

if some_num % 2 == 1:
    print("odd number")
elif some_num > 0: # elif only runs if the if above it evaluates to False
    print("positive number")
if some_num < 0:
    print("negative number")
else: # else will only run if all if/elifs above evaluate to False
    print("num is 0")

num is 0

### Else Statements

In [ ]:
# see above

### For Loops

In [85]:
# for keyword, variable counter(name anything), in keyword, iterable

name = "Sean Kirby"


for letter in name:
    print("hello")
    print(letter)

for i in range(10):
    print(i)

hello
S
hello
e
hello
a
hello
n
hello

hello
K
hello
i
hello
r
hello
b
hello
y
0
1
2
3
4
5
6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [87]:
for i in range(10):
    print(i)
    if i == 5:
        continue
    print(i)

0
0
1
1
2
2
3
3
4
4
5
6
6
7
7
8
8
9
9

##### Break Statement

In [ ]:
# will break out of current loop

In [89]:
for i in range(10):
#    print(i)
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [90]:
for i in range(10):
    if i == 5:
        pass # TODO: Come back and finish later
    print(i)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [91]:
for i in range(5):
    for j in range(5):
        print(f'i = {i}, j = {j}')

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [95]:
# will continue running until conditional statement is False
# while keyword, conditional statement

num = 0
while num < 10:
    print(num)
    num += 1
print("Finish")

0
1
2
3
4
5
6
7
8
9
Finish

##### Looping 'While True'

In [98]:
#age = input("How old are you? ")

#while True:
#    if isinstance(age, int):
#        break
 #   print("Please enter a whole number")
  #  age = input("How old are you? ")

##### While & For Loops Used Together

In [99]:
num = 0

while num < 5:
    print("While Loop Iteration:", num)
    for i in range(2):
        print("For Loop Iteration", i)
    print('\n')
    num += 1

While Loop Iteration: 0
For Loop Iteration 0
For Loop Iteration 1


While Loop Iteration: 1
For Loop Iteration 0
For Loop Iteration 1


While Loop Iteration: 2
For Loop Iteration 0
For Loop Iteration 1


While Loop Iteration: 3
For Loop Iteration 0
For Loop Iteration 1


While Loop Iteration: 4
For Loop Iteration 0
For Loop Iteration 1

### Built-In Functions

##### range()

In [113]:
# range(start, stop, step)

# 1 argument only = argument is for stop, start defaults to 0 and step defaults to 1

for i in range(10):
    print(i)
    
# 2 arguments = first argument is for start, second argument is for stop, step defaults to 1
for i in range(10, 20):
    print(i)
    
# 3 arguments = first is for start, second is for stop, third is for step
for i in range(10, 100, 5):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

##### len()

In [114]:
# return back the length of the vvariable
name = "Shoha"

length = len(name)
print(length)

5

##### help()

In [115]:
# view more info about a python function (returns the DOCSTRING)

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [ ]:
# Check a variable and return a boolean True/False if the variable is said Object
#isinstance(var, type)

print(isinstance('4.5', str))

if isinstance('4.5', str):
    print("This is an instance of a string Object")

##### abs()

In [ ]:
# absolute value

print(abs(-10))

### Try and Except

In [1]:
# use whenever you expect to encounter a bug so that the error doesnt cause the program to stop
# use so that you can gracefully Log error messages

while True:
    try:
        number_test = 1
        input_num = int(input('Guess a number '))
        if number_test == input_num:
            print('Congrats you guessed correctly!')
            break
    except:
        print("That did not work -- Please enter a number!")

That did not work -- Please enter a number!
Guess a number 1
Congrats you guessed correctly!

### Lists

##### Declaring Lists

In [4]:
l_1 = [] # Empty list declaration - square brackets!
# 0 based index

names = ['Fred', 'Tim', 'Annie', 'Gigi', 'Bill']
print(names)

['Fred', 'Tim', 'Annie', 'Gigi', 'Bill']

##### Indexing a List

In [12]:
# [start: stop: step]

#single item from list
print(names[3])

#print starting at index 1 to the end
print(names[1:])

# print starting at beginning of the list to the index N (N == the number we want to stop at)
print(names[:3])

# print starting at index 1, and print every other name
print(names[1::2])

# print the last element in any list
print(names[-1])

# print in reverse order
print(names[::-1])

# Make a copy of your list
print(names[:])

Gigi
['Tim', 'Annie', 'Gigi', 'Bill']
['Fred', 'Tim', 'Annie']
['Tim', 'Gigi']
Bill
['Bill', 'Gigi', 'Annie', 'Tim', 'Fred']
['Fred', 'Tim', 'Annie', 'Gigi', 'Bill']

##### .append()

In [13]:
names.append('Sean')
print(names)

['Fred', 'Tim', 'Annie', 'Gigi', 'Bill', 'Sean']

##### .insert()

In [14]:
# list.insert(index, value)

names.insert(3, 'Shoha')
print(names)

['Fred', 'Tim', 'Annie', 'Shoha', 'Gigi', 'Bill', 'Sean']

##### .pop()

In [ ]:
# default is the last value if no parameter is given
#.pop() returns te element that was removed in case you want to assign it into a variable

test = names.pop()
print


##### .remove()

In [15]:
# value to be removed, not index
# will remove the FIRST instance of value

names.remove('Sean')
print(names)

#remove multiple same value elements from a list:

# while 'bob in names:
#    names.remove('bob')
# print(names)

['Fred', 'Tim', 'Annie', 'Shoha', 'Gigi', 'Bill']

##### del()

In [16]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used correctly

del(names[1])
print(names)

['Fred', 'Annie', 'Shoha', 'Gigi', 'Bill']

##### Concatenating Two Lists

In [18]:
# in list te '+' will append two lists together, not add up the elements in each list
l_2 = [1, 2, 3]
l_3 = [4, 5, 6]

l_4 = l_2 + l_3

print(l_4)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [27]:
# lists are able to hold any type of element, including OTHER lists themselves
# They can go as deep as you want, having many lists nested inside of each other

my_list = ['Fred', 'Bill', 'Peg', ['Dave', 'Claire', 'Ben', [1, 2, 3]], 'Dale']

my_list[4]

'Dale'

##### Looping Through Lists

In [30]:
# two ways to loop through a list and print its values
# 1. using range(Len(list)) and the index
# 2. Using the 'in' keyword

#1 - using index
for i in range(len(my_list)):
    print(i, my_list[i])
    
#2 - using 'in' keyword
for item in my_list:
    print(item)

0 Fred
1 Bill
2 Peg
3 ['Dave', 'Claire', 'Ben', [1, 2, 3]]
4 Dale
Fred
Bill
Peg
['Dave', 'Claire', 'Ben', [1, 2, 3]]
Dale

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [78]:
cubes = []
minimum = 0
maximum = 1000 // 3

for i in range(minimum, maximum):
    cube = i**3
    cubes.append(cube)
    
    
    
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000, 1030301, 1061208, 1092727, 1124864, 1157625, 1191016, 1225043, 1259712, 1295029, 1331000, 1367631, 1404928, 1442897, 1481544, 1520875, 1560896, 1601613, 1643032, 1685159, 1728000, 1771561, 1815848, 1860867, 1906624, 1953125, 2000376, 2048383, 2097152, 2146689, 2197000, 2248091, 2299968, 2352637, 2406104, 2460375, 2515456, 2571353, 2628072, 2685619, 2744000, 2803221, 2863288, 2924207, 2985984, 3048625, 3112136, 3176523, 3241792, 3307949, 3375000, 3442951, 3511808, 3581577, 3652264, 3723875, 3796416, 3869893, 3944312, 4019679, 4096000, 4173281, 4251528, 4330747, 4410944, 4492125, 4574296, 4657463, 4741632, 4826809, 4913000, 5000211, 5088448, 5177717, 5268024, 5359375, 5451776, 5545233, 5639752, 5735339, 5832000, 5929741, 6028568, 6128487, 6229504, 6331625, 6434856, 6539203, 6644672, 6751269, 6859000, 6967871, 7077888, 7189057, 7301384, 7414875, 7529536, 7645373, 7762392, 7880599, 8000000, 8120601, 8242408, 8365427, 8489664, 8615125, 8741816, 8869743, 8998912, 9129329, 9261000, 9393931, 9528128, 9663597, 9800344, 9938375, 10077696, 10218313, 10360232, 10503459, 10648000, 10793861, 10941048, 11089567, 11239424, 11390625, 11543176, 11697083, 11852352, 12008989, 12167000, 12326391, 12487168, 12649337, 12812904, 12977875, 13144256, 13312053, 13481272, 13651919, 13824000, 13997521, 14172488, 14348907, 14526784, 14706125, 14886936, 15069223, 15252992, 15438249, 15625000, 15813251, 16003008, 16194277, 16387064, 16581375, 16777216, 16974593, 17173512, 17373979, 17576000, 17779581, 17984728, 18191447, 18399744, 18609625, 18821096, 19034163, 19248832, 19465109, 19683000, 19902511, 20123648, 20346417, 20570824, 20796875, 21024576, 21253933, 21484952, 21717639, 21952000, 22188041, 22425768, 22665187, 22906304, 23149125, 23393656, 23639903, 23887872, 24137569, 24389000, 24642171, 24897088, 25153757, 25412184, 25672375, 25934336, 26198073, 26463592, 26730899, 27000000, 27270901, 27543608, 27818127, 28094464, 28372625, 28652616, 28934443, 29218112, 29503629, 29791000, 30080231, 30371328, 30664297, 30959144, 31255875, 31554496, 31855013, 32157432, 32461759, 32768000, 33076161, 33386248, 33698267, 34012224, 34328125, 34645976, 34965783, 35287552, 35611289, 35937000, 36264691, 36594368]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [61]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

#if i in range(10):
#    print(i)
 #   if i > 10:
 #       break

#else:
 #   print('Hello')
#To prove whether a number is a prime number, first try dividing it by 2, and see if you get a whole number. 
#If you do, it can't be a prime number. If you don't get a whole number, 
#next try dividing it by prime numbers: 3, 5, 7, 11 (9 is divisible by 3) and so on, always dividing by a prime number    

for value in range (0, 101):
    count = 0
    for i in range(2, (value//2 + 1)):
        if(value % i == 1):
            count = count + 1
            break

    if (count == 0 and value != 1):
        print(" %d" %value, end = '  ')

 0   2   3   4   6   8   12   14   18   20   24   30   32   38   42   44   48   54   60   62   68   72   74   80   84   90   98

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [45]:

#Age = input("What is your age? ")

age = int(input("What is your age?: "))

if age < 18:
    print("Kids")
elif age < 65:
    print("Adults")
else:
    print("Seniors")

What is your age?: 8
Kids